{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block start %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    section .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    section .trees {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 100;
        pointer-events: none;
    }

    section .girl {
        position: absolute;
        scale: 0.65;
        pointer-events: none;
        animation: animateGirl 10s linear infinite;
    }

    @keyframes animateGirl {
        0% {
            transform: translateX(calc(100% + 100vw));
        }
        50% {
            transform: translateX(calc(-100% - 100vw));
        }
        50.01% {
            transform: translateX(calc(-100% - 100vw)) rotateY(180deg);
        }
        100% {
            transform: translateX(calc(100% + 100vw)) rotateY(180deg);
        }
    }

    .login {
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }

    .login h2 {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 2.5em;
        font-weight: 600;
        color: #8f2c24;
        margin-bottom: 10px;
    }

    .login .inputBox {
        position: relative;
    }

    .login .inputBox input {
        position: relative;
        width: 100%;
        padding: 15px 20px;
        outline: none;
        font-size: 1.25em;
        color: #8f2c24;
        border-radius: 5px;
        background: #fff;
        border: none;
        margin-bottom: 30px;
    }

    .login .inputBox ::placeholder {
        color: #8f2c24;
    }

    .login .inputBox #btn {
        position: relative;
        border: none;
        outline: none;
        background: #8f2c24;
        color: #fff;
        cursor: pointer;
        font-size: 1.25em;
        font-weight: 500;
        transition: 0.5s;
    }

    .login .inputBox #btn:hover {
        background: #d64c42;
    }

    .login .group {
        display: flex;
        justify-content: space-between;
    }

    .login .group a {
        font-size: 1.25em;
        color: #8f2c24;
        font-weight: 500;
        text-decoration: none;
    }

    .login .group a:nth-child(2) {
        text-decoration: underline;
    }

    .leaves {
        position: absolute;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        pointer-events: none;
    }

    .leaves .set {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .leaves .set div {
        position: absolute;
        display: block;
    }

    .leaves .set div:nth-child(1) {
        left: 20%;
        animation: animate 20s linear infinite;
    }

    .leaves .set div:nth-child(2) {
        left: 50%;
        animation: animate 14s linear infinite;
    }

    .leaves .set div:nth-child(3) {
        left: 70%;
        animation: animate 12s linear infinite;
    }

    .leaves .set div:nth-child(4) {
        left: 5%;
        animation: animate 15s linear infinite;
    }

    .leaves .set div:nth-child(5) {
        left: 85%;
        animation: animate 18s linear infinite;
    }

    .leaves .set div:nth-child(6) {
        left: 90%;
        animation: animate 12s linear infinite;
    }

    .leaves .set div:nth-child(7) {
        left: 15%;
        animation: animate 14s linear infinite;
    }

    .leaves .set div:nth-child(8) {
        left: 60%;
        animation: animate 15s linear infinite;
    }

    @keyframes animate {
        0% {
            opacity: 0;
            top: -10%;
            transform: translateX(20px) rotate(0deg);
        }
        10% {
            opacity: 1;
        }
        20% {
            transform: translateX(-20px) rotate(45deg);
        }
        40% {
            transform: translateX(-20px) rotate(90deg);
        }
        60% {
            transform: translateX(20px) rotate(180deg);
        }
        80% {
            transform: translateX(-20px) rotate(45deg);
        }
        100% {
            top: 110%;
            transform: translateX(20px) rotate(225deg);
        }
    }
</style>

<section>
	
    <div class="leaves">
        <div class="set">
            <div><img src="{% static 'images/leaf_01.png' %}"></div>
            <div><img src="{% static 'images/leaf_02.png' %}"></div>
            <div><img src="{% static 'images/leaf_03.png' %}"></div>
            <div><img src="{% static 'images/leaf_04.png' %}"></div>
            <div><img src="{% static 'images/leaf_01.png' %}"></div>
            <div><img src="{% static 'images/leaf_02.png' %}"></div>
            <div><img src="{% static 'images/leaf_03.png' %}"></div>
            <div><img src="{% static 'images/leaf_04.png' %}"></div>
        </div>
    </div>
    <img src="{% static 'images/bg.jpg' %}" class="bg">
    <img src="{% static 'images/girl.png' %}" class="girl">
    <img src="{% static 'images/trees.png' %}" class="trees">

    <div class="login">
		<center>
			<div class="content-section col-md-8 col-md-offset-2" style="width: 700px;">
				<form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
					<h2>Sign In</h2><br>
					{% csrf_token %}
					<fieldset class="form-group">
						{{ form|crispy }}
					</fieldset>
					<center>
						<button style="background: black; padding:2%; font-size: 2rem; color:white;" class="btn btn-outline-info" type="submit">
							<span class="glyphicon glyphicon-check"></span> sign up
						</button>
					</center>
					<br />
					<sub><a href="{% url 'login' %}" style="text-decoration: none; color: blue; padding:3%; cursor:pointer;">Already have an account ?</a></sub>
				</form>
        </form>
    </div>
</div>
	</center>
</section>

</div>
{% endblock start %}
