<!doctype html>
{%load static%}
{% static "images" as baseUrl %}


<html class="home blog no-js" lang="en-US">
<head>
    <title>Madhu || A Cute Little Blog</title>
    

    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="{%  static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}"
          type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8'%}"
          type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'print.css'%}" type="text/css" media="print"/>
    
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- bootstrap file-->
 
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
 
  <!-- main css 
  <link rel="stylesheet" type="text/css" href="{% static "index.css" %}" /> -->
 
 
  <!-- message here -->
 
  {% if messages %}
  {% for message in messages %}
 
  <script>
    alert("{{ message }}");
  </script>
 
  {% endfor %}
  {% endif %}
  <style>
    .font-lemon-jelly {
        font-family:  'cursive';
      }
  </style>
  
    

</head>
<body class="home sticky-menu sidebar-off" id="top">
    <header class="row">
 
        <!-- navbar-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid" style="background-color: black;">
            <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" class="styleheader" href="{% url "index" %}"></a>
            </div>
            <div class="collapse navbar-collapse" id="mainNavBar" id="i2">
              <ul class="nav navbar-nav navbar-right" >
                <li><a href="{% url "index" %}" id="i1" ><span class="glyphicon glyphicon-home" style="color: #FFF;"> Home</span></a></li>
     
                {% if user.is_authenticated %}
                <li><a href="{% url "index" %}" id="i1"><span class="glyphicon glyphicon-log-out" style="color: #FFF;"> Logout</span></a></li>
                {% else %}
                <li><a href="{% url "register" %}" id="i1" ><span class="glyphicon glyphicon-user" style="color: #FFF;">Signup</span></a></li>
                <li><a href="{% url "login" %}" id="i1" ><span class="glyphicon glyphicon-log-in" style="color: #FFF;">Login</span></a></li>
          
                {% endif %}
     
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <br/>
      <br>
      <br><br>
      <div class="row">
        {% block start %}
        {% if user.is_authenticated %}
        <center><h1>welcome back {{user.username}}!</h1></center>
        {% else %}
        <center><h1 class="font-lemon-jelly">Step into a world where words come alive</h1></center>
        {% endif %}
        {% endblock %}
      </div>

<header class="header">

    <div class="header-wrap">

        <div class="logo plain logo-left">
            <div class="site-title">
                <a href="index.html" title="Go to Home">Madhu</a>
            </div>
        </div><!-- /logo -->


        <nav id="nav" role="navigation">
            <div class="table">
                <div class="table-cell">
                    <ul id="menu-menu-1">
                        <li class="menu-item">
                            <a href="index.html">Home</a></li>
                       
                        
                        <li class="menu-item">
                            <a href="{% static 'blog.html' %}">Blog</a>
                            
                        </li>
                       
                        <li class="menu-item">
                            <a href="{% static 'contact.html' %}">Contact me</a></li>
                        
                        <li class="menu-item">
                            <a href="#">LOGIN/SIGNUP</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <a href="#nav" class="menu-trigger"><i class="fa fa-bars"></i></a>

        <a href="{% static '#topsearch' %}" class="search-trigger"><i class="fa fa-search"></i></a>

    </div>

</header>


<div class="hero"
 style="background-image: url('/static/images/backg new.jpg'); text-align:right; height:750px"><br><br><br>
    <div class="hero-inner">
        <div class="inner">
            <h1><span class="border border-top border-bottom">Madhu</span></h1>
            
            <div class="hero-line-two"><span class="border border-bottom"><a href="{% static 'https://freehtml5.co' %}" style="color:#FFF;">Stories that Matter</a></span></div>
        </div>

        <a class="more-arrow" href="{% static '#content' %}"><i class="fa fa-chevron-down"></i><span>Scroll Down</span></a>

    </div>
</div>
<div class="home-sticky" id="content">

    <h2 class="home-sticky-title">my fav moments</h2>


    <div class="sticky-inner">

        <aside class="home-sticky-post post has-post-thumbnail sticky">

  		    <span class="post-image">
  				<a href="#">
  				<img width="502" height="502" src="{% static 'images/movie resize.jpg' %}"
                     class="attachment-sticky size-sticky" alt=""/>
  				</a>
  		    </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">Movie</a>
                </h3>

                
            </div>

        </aside>

        <aside class="home-sticky-post post has-post-thumbnail sticky ">

            <span class="post-image">
  				<a href="#">
  				<img width="502" height="502" src="{% static 'images/icecream.jpg' %}"
                     class="attachment-sticky size-sticky" alt=""/>
  				</a>
  		    </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">ICE CREAM</a>
                </h3>

                
            </div>

        </aside>

        <aside class="home-sticky-post post has-post-thumbnail sticky">

  		    <span class="post-image">
                <a href="#">
                    <img width="502" height="502" src="{% static 'images/chess1.avif' %}"
                     class="attachment-sticky size-sticky" alt=""/>
  				</a>
  		    </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">Chess</a>
                </h3>

               
            </div>

        </aside>

        <aside class="home-sticky-post post has-post-thumbnail sticky ">

  		    <span class="post-image">
                <a href="#"><img width="502" height="502" src="{% static 'images/rain2.jpg' %}"
                     class="attachment-sticky size-sticky" alt=""/>
  				</a>
            </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">Rain</a>
                </h3>

                
            </div>

        </aside>

        <aside class="home-sticky-post post has-post-thumbnail sticky ">


  		    <span class="post-image">
                <a href="#">
                    <img width="502" height="502" src="{% static 'images/mall1.jpg' %}"
                     class="attachment-sticky size-sticky" alt=""/>
  				</a>
            </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">Mall</a>
                </h3>

                
            </div>

        </aside>

        <aside class="home-sticky-post post has-post-thumbnail sticky ">

            <span class="post-image">
                <a href="#">
                    <img width="502" height="502" src="{% static 'images/frnds1.jpg' %}"
                     class="attachment-sticky size-sticky" alt=""/>
  				</a>
  		    </span>


            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">Friends</a>
                </h3>

                
            </div>

        </aside>

    </div>


</div>
<div class="wrap full-wrap">
    <div class="main-wrap">
        <section class="main main-archive">
            <div class="loop">


                <article class="post format-gallery post_format-post-format-gallery">


                    <a href="#"
                       title="Running through Chicago">
                        <div class="part-gallery">
                            <div class="flexslider">
                                <ul class="slides">

                                    <li><span class="post-image"><img src="{% static 'images/clg.jpg' %}"
                                                                      alt="Run-3"/></span></li>
                                    <li><span class="post-image"><img src="{% static 'images/clglib.webp'%}"
                                                                      alt="Run-1"/></span></li>
                                    <li><span class="post-image"><img src="{% static 'images/clg3.webp' %}"
                                                                      alt="clg-3"/></span></li>
                                </ul>
                            </div>
                        </div>

                    </a>

                    <div class="inner">

                        <h2 class="entry-title">
                            <a href="#"
                               title="Running through Chicago">
                                My College </a>
                        </h2>
                        <ul class="meta top">
                            <li class="time">
                                <a href="#"
                                   title="Running through Chicago">
                                    <time class="post-date updated" datetime="2015-02-01">December 13,2021</time>
                                </a></li>

                          

                        </ul>
                        <div class="post-content">
                            <p>Sree Vidyanikethan Education Trust (SVET) was established in 1992, it has surpassed many a milestone.The Chairman of SVEC is Dr.M.MohanBabu.
                                Sree Vidyanikethan Engineering College designs the study programmes  to meet tomorrow's industry demands.SVEC owns state-of-the-art infrastructure, world-class research facilities, best faculty and active student groups. 
                                This will make us to help the students on the promising platform in terms of professional education</p>
                            <a
                                        href="https://www.svec.education/"
                                        class="more-link">Read More</a></p>
                        </div>


                        <ul class="meta bottom">




                        </ul>

                    </div>
                </article>

 <center>   <a href="{% url "tkt" %}">Share your posts and ideas with a click! </a></center>
 <center> <a href="{%url 'postindex' %}"><h4 style="color: chocolate;">To See Our Posts</h4></a></center>
                

<div class="footer-widgets widget-count-4">

    <div class="wrap">

        <div class="mt-about-you-widget">
            <div class="widget footer">

                <img class="mt-about-avatar" src="{% static 'images/newdp.jpg' %}" alt="Clare Itsy"/>


                <h4>Madhulika</h4>

                <div class="mt-about-bio">
                    <p>Hi, my name is Madhulika and I&#039;m a student. I love movies and 
                        enjoy exploring various genres and stories in my free time.</p>
                </div>


            </div>
        </div>
        <div class="widget footer"><h4>Recent Posts</h4>
            <ul>
                <li>
                    <a href="#">Movie</a>
                </li>
                <li>
                    <a href="#">Icecream</a>
                </li>
                <li>
                    <a href="#">Chess</a>
                </li>
                <li>
                    <a href="#">Rain</a>
                </li>
                <li>
                    <a href="#">Mall</a>
                </li>
                <li>
                    <a href="#"> Friends </a>
                </li>
            </ul>
        </div>
        
        <div class="widget footer"><h4>Gallery</h4>
            <div class="textwidget">
                <img src="{% static 'images/gal1.jpg' %}" alt="">
            </div>
        </div>
    </div>

</div>


<footer class="footer">
    <div class="footer-wrap">
        <div id="footer-text">
           <a href="{% static 'https://freehtml5.co' %}" target="_blank"></a>.</div>

        <a href="#" id="btt">Top <i class="fa fa-chevron-up"></i></a>
    </div>
</footer>

<div id="topsearch">
    <div class="table">
        <div class="table-cell">
            <form role="search" method="POST" class="searchform" action="index.html">
                <div>
                    <input type="text" value="" name="s" class="s" placeholder="Type and hit enter"/>
                    <input type="submit" class="searchsubmit" value="Search"/>
                </div>
            </form>
        </div>
    </div>
    <a href="{% static '#topsearch' %}" class="search-trigger"><i class="fa fa-times"></i></a>
</div>


<script>
    var ie9 = false;
</script>
<!--[if lte IE 9 ]>
<script> var ie9 = true; </script>
<![endif]-->
<script src="{% static 'js/global-plugins.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
